# Cloudflare Turnstile (Captcha)
NEXT_PUBLIC_TURNSTILE_SITE_KEY=votre_cle_publique
TURNSTILE_SECRET_KEY=votre_cle_secrete

# Notifications Discord
DISCORD_CONTACT_WEBHOOK_URL=votre_webhook_formulaire_contact
DISCORD_ADMIN_WEBHOOK_URL=votre_webhook_modifications_admin

# Uptime Kuma
UPTIME_KUMA_URL=votre_url_api_privee_uptime_kuma
NEXT_PUBLIC_UPTIME_KUMA_PUBLIC_URL=https://status.votre-domaine.fr

# Umami Analytics
NEXT_PUBLIC_UMAMI_WEBSITE_ID=votre_id_umami

# GitHub (optionnel — augmente le rate limit de 50 à 5000 req/h)
GITHUB_TOKEN=ghp_votre_token_ici

# Sécurité panel admin
ADMIN_SECRET=secret_fort_genere_aleatoirement

# Base de données SQLite
DATABASE_URL="file:./prisma/database.db"
